[submodule "skills/dashiAI-ppt-skill"]
	path = skills/dashiAI-ppt-skill
	url = https://github.com/chuspeeism/dashiAI-ppt-skill.git
[submodule "skills/tavily-skills"]
	path = skills/tavily-skills
	url = https://github.com/tavily-ai/skills.git
[submodule "skills/firecrawl-skills"]
	path = skills/firecrawl-skills
	url = https://github.com/firecrawl/skills.git
[submodule "skills/firecrawl-cli"]
	path = skills/firecrawl-cli
	url = https://github.com/firecrawl/cli.git
