[submodule "skills/tavily-skills"]
	path = skills/tavily-skills
	url = https://github.com/tavily-ai/skills.git
[submodule "skills/firecrawl-cli"]
	path = skills/firecrawl-cli
	url = https://github.com/firecrawl/cli.git
[submodule "skills/context7"]
	path = skills/context7
	url = https://github.com/upstash/context7.git
[submodule "skills/tikhub-agent-skill"]
	path = skills/tikhub-agent-skill
	url = https://github.com/MangouArt/tikhub-agent-skill.git
[submodule "skills/quarkclouddrive"]
	path = skills/quarkclouddrive
	url = https://github.com/quark-clouddrive/quarkclouddrive_offical.git
[submodule "skills/lark-cli"]
	path = skills/lark-cli
	url = https://github.com/larksuite/cli.git
